<ul class="tips-list">
  {% for tips in tipslist %}
    <li class="tips-list__item">
      <img src="{{ tips.data.icon }}" />
      <a href="{{ tips.url }}">
        <p class="tips-list__title">
          {{ tips.data.title }}
        </p>
      </a>
    </li>
  {% endfor %}
</ul>