@font-face {
	font-family: Morganite;
	src: url('/fonts/Morganite-Bold.ttf') format('truetype');
	font-display: swap;
}
/* Defaults */
:root {
	--font-family: "Azeret Mono", -apple-system, system-ui, sans-serif;
	--font-family-monospace: Consolas, Menlo, Monaco, Andale Mono WT, Andale Mono, Lucida Console, Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono, Liberation Mono, Nimbus Mono L, Courier New, Courier, monospace;
	--border-thickness: 2px;
	--line-height: 1.2rem;
	--mask-x: 0px;
	--mask-y: 0px;
	--mask-size: 0px;
  font-weight: 500;
	font-variant-numeric: tabular-nums lining-nums;
}

/* Theme colors */
:root {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #444;

	--background-color: #E5E3D4;

	--text-color: var(--color-gray-90);
	--text-color-link: #000;
	--text-color-link-active: #257480;
	--text-color-link-visited: #555;
}

:root.dark {
	--color-gray-20: #e0e0e0;
	--color-gray-50: #C0C0C0;
	--color-gray-90: #dad8d8;

	/* --text-color is assigned to --color-gray-_ above */
	--text-color-link: #eee;
	--text-color-link-active: #257480;
	--text-color-link-visited: #aaa;

	--background-color: #0a2328;
}


/* Global stylesheet */
* {
	box-sizing: border-box;
  text-decoration-thickness: var(--border-thickness) !important;
}

::selection {
  background-color: #257480;
  color: white;
}

::-moz-selection {
  background-color: #257480;
  color: white;
}

@view-transition {
	navigation: auto;
}

body {
	font-family: var(--font-family);
	color: var(--text-color);
	background-color: var(--background-color);
	padding: var(--line-height) 2ch;
  max-width: calc(min(80ch, round(down, 100%, 1ch)));
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img{
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}
video,
iframe {
	width: 100%;
	height: auto;
}
iframe {
	aspect-ratio: 16/9;
}

h1 {
	font-size: 1.6rem !important;
	line-height: 2rem !important;
	margin: 2rem 0;
	font-weight: bold;
}
h2 {
	font-size: 1.4rem !important;
	line-height: 3rem !important;
	font-weight: 600;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 2rem;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

header {
	padding: .5rem 0;
}

.text-stone {
	font-family: Morganite;
	font-size: 100px !important;
	color: var(--text-color-link-active) !important;
	text-transform: uppercase;
	line-height: 1;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: .5em 1em;
	list-style: "";
	border-top: 1px solid var(--color-gray-20);
	padding: 1rem 0;
	margin-top: 1rem;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

pre:not([class*="language-"]) {
	margin: .5em 0;
	line-height: 1.375; /* 22px /16 */
	-moz-tab-size: var(--syntax-tab-size);
	-o-tab-size: var(--syntax-tab-size);
	tab-size: var(--syntax-tab-size);
	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	overflow-x: auto;
}
code {
	word-break: break-all;
	color: var(--text-color-link-active);
	background-color: color-mix(in srgb, var(--background-color) 85%, black);
	padding: .2rem 1ch;
	border-radius: .5rem;
}

.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-date {
	color: var(--color-gray-90);
}
.postlist-link {
	font-size: 1.12em;
	font-weight: 500;
	flex-basis: calc(100% - 1.5rem);
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
	color: var(--text-color-link-active) !important;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}

.tips__content ul {
  list-style-type: "👉";
	list-style-position: inside;
}

.tips__content li::first-letter {
  margin-left: .5rem;
}

/* Theme swtich effect */
::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><circle cx="20" cy="20" r="20" fill="white"/></svg>')
    var(--mask-x) var(--mask-y) / 0 no-repeat;
  animation: scale 1s ease-in;
	transform-origin: var(--mask-x) var(--mask-y);
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}

.dark::view-transition-new(root) {
  animation: scale 1s ease-in;
}

@keyframes scale {
  to {
    mask-size: var(--mask-size);
		mask-position: calc(var(--mask-x) - var(--mask-size) / 2) calc(var(--mask-y) - var(--mask-size) / 2);
  }
}
