---
layout: layouts/home.njk
bodyClass: home-body
title: Feed
permalink: /feed/
---

<a href="/feed" class="text-stone">FEED</a>

<section class="mt-8 space-y-4">
	<h1 class="text-3xl font-semibold">Feed</h1>
	<p>
		<a href="/feed/feed.xml">Atom feed</a>
	</p>
</section>
