<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="alternate" href="feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		<meta name="generator" content="{{ eleventy.generator }}">
    <link rel="icon" type= “image/x-icon” href="/favicon.ico">
		<meta property="og:image" content="/img/og.png">
		<meta name="twitter:image" content="/img/og.png">

		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{%- css %}{% include "public/css/tailwind.css" %}{% endcss %}
		<style>{% getBundle "css" %}</style>

		{%- js %}{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}{% endjs %}
		{%- js %}{% include "lib/theme.js" %}{% endjs %}
		<script>
			const initTheme = (theme) => {
				if (theme === 'dark') {
					document.documentElement.classList.add('dark');
					document.documentElement.classList.remove('light');
				} else {
					document.documentElement.classList.add('light');
					document.documentElement.classList.remove('dark');
				}
			}
			// Get system preferences
			const darkModeMediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
			// Get saved theme from localStorage or use system preference
			const savedTheme = localStorage.getItem('theme');
			if (savedTheme) {
				initTheme(savedTheme);
			} else {
				initTheme(darkModeMediaQuery.matches ? 'dark' : 'light');
			}
		</script>
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>
		<main id="skip">
			<heading-anchors>
				{{ content | safe }}
			</heading-anchors>
		</main>
		<ul class="mt-6 flex space-x-4 text-lg">
			<li class="underline"><a href="/">HOME</a></li>
			<li class="underline"><a href="/tips">TIPS</a></li>
			<li class="underline"><a href="/about">ABOUT</a></li>
			<li class="underline"><a href="/feed/feed.xml">FEED</a></li>
		</ul>
		<footer class="flex space-x-2 items-center text-sm mt-2">
			<button id="dark-mode-toggle" class="cursor-pointer" aria-label="Toggle Dark Mode">
				<span id="theme-icon"></span>
			</button>
			<p>Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a></em></p>
		</footer>
		<script type="module" src="{% getBundleFileUrl "js" %}"></script>
	</body>
</html>
