---
layout: layouts/base.njk
---
<article class="tips">
	<a href="/" class="text-stone">{{ title }}</a>
	<div class="inline-flex space-x-2 items-center">
		<div class="size-6">
			<img class="size-4" src="{{ icon }}" />
		</div>
	</div>

  <main class="tips__content">
    {{ content | safe }}
  </main>
</article>

