---
layout: layouts/base.njk
---
<article class="tips">
	<div class="inline-flex space-x-2 items-center">
		<div class="size-6">
				<img class="size-4" src="{{ icon }}" />
		</div>
		<h1>{{ title }}</h1>
	</div>

  <main class="tips__content">
    {{ content | safe }}
  </main>
</article>

